<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

<h1>Registered Students</h1>

<nav>
    <a th:href="@{/eregistrar/home}">Home</a> |
    <a th:href="@{/eregistrar/students/new}">Register New Student</a>
</nav>

<br>

<table border="1" cellpadding="8">
    <thead>
    <tr>
        <th>ID</th>
        <th>Student Number</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>CGPA</th>
        <th>Enrollment Date</th>
        <th>International</th>
        <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.studentId}"></td>
        <td th:text="${student.studentNumber}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.middleName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.cgpa}"></td>
        <td th:text="${student.enrollmentDate}"></td>
        <td th:text="${student.isInternational}"></td>

        <td>
            <a th:href="@{/eregistrar/students/edit/{id}(id=${student.studentId})}">
                Edit
            </a>

            |

            <a th:href="@{/eregistrar/students/delete/{id}(id=${student.studentId})}">
                Delete
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>